.counter {
    position: absolute;
    top: 550px;
    left: 0;
    width: 380px;
    height: 400px;
    border: white 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
